<h1>Log In Form</h1>

<%= form_tag ({controller: "sessions", action: "create", method: "post"}) do %>

    <p>
        <label>Username: </label><br>
        <input type="text" name="name">
    </p>

    <p>
        <label>Password: </label><br>
        <input type="password" name="password">
    </p>

    <input type="submit" value="Login">

<% end %>