<div style="text-align: center">

    <h1 style="font-size: 60px;">Code Folio</h1>
    <br><br>

    <p style="font-size: 30px;">
        <%= link_to "Sign In", new_session_path %>
    </p>
    <br><br>
    <p style="font-size: 30px;">
        <%= link_to "Register", new_user_path %>
    </p><br><br><br>

    <p>
        <%= link_to('Log in with Facebook!', '/auth/facebook', :style => "background-color: deepskyblue") %>
    </p>

</div>
