<h1>Following</h1><br><br>

<% @users.each do |user| %>

    <p>
        <%= link_to user.username, user_path(user) %>
    </p><br><br>

<% end %><br><br>

<p>
    <%= link_to "Back", user_path(current_user) %>
</p>