<h1>Followers</h1><br><br>

<% @users.each do |user| %>
<p>
    <%= link_to user.username, user_path(user) %><br><br><br>
</p>
<% end %>

<p><br><br><br>
    <%= link_to "Back", user_path(current_user) %>
</p>